<!-- Version du 2017-10-30 -->
<div class="mcl">
  <h1 class="main-title" id="h1">Avant de débuter</h1>
</div>
<div class="strong">
  <div class="mcl">
    <!-- <div class="row row-b"> -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 ac1">

          <div class="ac1x">
            <div class="box">
              <!--
                    <div class="title-w-icon">
                      <i class="icon icon-timer"></i>
                      <h2>Votre demande compte <strong>9 étapes</strong> et dure <strong>15 minutes.</strong></h2>
                    </div>
                  -->

              <!-- Version avec l'icône incluse dans le h2 - Permet d'avoir le fond de l'icône qui s'ajuste à la hauteur du h2-->
              <div class="title-w-icon2">
                <h2 class="icon icon-timer"><span>Votre demande compte <strong>3 étapes</strong> et dure <strong>15 minutes.</strong></span></h2>
              </div>
              <div class="w-padd2">
                <div class="text">
                  <p>Ce service vous permet de réclamer des frais déplacement, de repas et d'hébergement. </p>
                  <h3 class="style2">Accompagnateur :</h3>
                  <p>Pour demander le remboursement de frais liés à un accompagnateur, vous devez avoir une ordonnance médicale l'autorisant.</p>

                </div>
                <h3 class="style1">Besoin d'aide</h3>
                <div class="text">
                  <p>Vous pouvez obtenir de l'aide à tout moment en cliquant sur l'icône. <a href="#" role="button" aria-label="Aide" title="Le texte dans l’infobulle va vous permettre d’avoir de l’information supplémentaire"><i class="icon-help"></i></a></p>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 ac2">
          <div class="ac2x">
            <div class="w-padd">

              <div class="list1">
                <div class="text">
                  <h2 class="style2">Vous aurez besoin des informations suivantes pour compléter votre formulaire :</h2>

                </div>
                <h3>Renseignements sur vous</h3>
                <ul>
                  <li>Numéro d'assurance maladie (NAM)</li>
                  <li>Numéro d'assurance sociale (NAS) Numéro d'assurance sociale (NAS)</li>
                </ul>
              </div>


              <div class="list1">
                <h3>Renseignements sur l'événement</h3>
                <ul>
                  <li>Date de l'événement</li>
                  <li>Numéro du dossier CNESST</li>
                </ul>
              </div>

              <div class="list1">
                <h3>Renseignements sur l’accompagnateur,
si nécessaire</h3>
                <ul>
                  <li>Nom, prénom, téléphone</li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


    <!--  </div> -->

    <div class="btns">
      <!--
        Le bouton d'aide devrait être balisé comme tel -
        L'attribut title est par défaut ici sa decription acessible et ne peut servir de source de contenu pour la fenêtre d'aide.
        TODO: Intéger plutôt la soultion du SD.
      -->
      <a role="button" class="btn btn3" href="H1-identification.html">Suivant</a>
    </div>

  </div>
</div>
