<!-- Version du 2017-10-30 -->
<div class="strong">

  <div class="mcl2">

    <div class="form-cont">
      <div class="div">
        <!-- RIN: un h1 par page - un h1 en début de main -->
        <!-- Ici le h1 est hors-ecran par défaut -->
        <!-- TODO:  Le h1 devra être affiché s'il reçoit le focus par le lien de contournement-->
        <h1 id="h1" class="hors-ecran">Remboursement de frais</h1>
      </div>

      <div class="content">

        <div class="text sp-s">
          <p class="obligatoire"><span class="hors-ecran">Un champ ou un groupe de champs précédé d’un astérisque sera annoncé comme étant </span>Obligatoire</p>
        </div>

        <div class="radiobutton required inline">
          <i class="obligatoire" id="naRG1">Que voulez-vous faire?<span class="hors-ecran"> Obligatoire </span></i>

          <div class="radiobuttons" role="group" aria-labelledby="naRG1">
            <label class="radiobutton">
							   <input data-hide=".os-1" data-show=".os-1-1" type="radio" name="mode">
							   <i>Demande de remboursement de frais de déplacements, d'hébergement, de repas.</i>
							</label>

            <label class="radiobutton">
							   <input data-hide=".os-1" data-show=".os-1-2" type="radio" name="mode">
							   <i>Demande de remboursement de frais de médicaments, de vêtements ou autre frais.</i>
							</label>

            <label class="radiobutton">
							   <input data-hide=".os-1" data-show=".os-1-3" type="radio" name="mode">
							   <i>Récupérer une demande de remboursement de frais déjà débuté (c'est un brouillon)</i>
							</label>

            <div class="box2 hide os-1 os-1-3">
              <div class="text">
                <p class="note"><strong>Note:</strong> Vous devez avoir votre code de récupération et votre adresse courriel.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="btns">
          <div class="btns3 hide os-1 os-1-1">
            <a class="btn btn3" href="H0-avant-de-debuter.html">Accéder au service</a>
          </div>
          <div class="btns3  hide os-1 os-1-2">
            <a class="btn btn3" href="M0-avant-de-debuter.html">Accéder au service</a>
          </div>
          <div class="btns3  hide os-1 os-1-3">
            <a class="btn btn3" href="#">Récupérer un brouillon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
