
		<div class="mcl">
			<h1 class="main-title" id="h1">Accusé de réception</h1>
		</div>
		<div class="strong">
			<div class="mcl">
				<div class="message-view">

					<div class="mt1">
						<i class="icon-check"></i>
						<h2>L'évolution de votre situation médicale a été transmise avec succès.</h2>

						<div class="fw-block">
							Votre numéro de référence est le <strong>ESM348216733.</strong>
						</div>
					</div>

					<div class="text">
						<p>Vous aurez besoin de votre numéro de dossier à la CNESST. <strong>Pour une maternité sans danger</strong> pour toute question concernant votre demande.</p>
					</div>

					<a class="btn btn9"><i class="icon-download"></i> <span>Évolution de ma situation médicale (PDF)</span></a>

					<div class="mt2">
						<i class="icon-dialog"></i>
						<div class="text">
							<p><strong>Vous devez nous envoyer une copie de votre talon de paie.</strong></p>
							<p>Vous pouvez le faire par la <span>messagerie sécurisée</span></p>
						</div>
					</div>

					<div class="text">
						<p>Pour retourner au dossier, cliquez sur le bouton ci-dessous.</p>
					</div>
					<a class="btn btn10" href="00-aiguillage">Retourner au dossier</a>
					<br>
					<a class="btn btn8" href="#">Consulter la liste des formulaires d'évolution de votre situation médicale</a>
				</div>

			</div>
		</div>
