.hide2,
.hide3,
.hide4,
.hide5,
.hide6
{
  display: none !important;
}


h2{
  /*background: yellow;*/
}

::selection {
  background: #414141; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #414141; /* Gecko Browsers */
  color: #fff;
}

.hors-ecran {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/******** header *******/
.no-menu {
    padding: 1rem 0;
    background: #414141;
    border-top: 2px solid #101010;
    border-bottom: 0;
    font-weight: normal;
    line-height: 1.2rem;
}

.soustitre {
    font-size: 1.1rem;
    padding: 0.7rem 0;
    background: #5d5d5d;
    border-top: 0;
    border-bottom: 0;
    line-height: 1.2rem;
}

.soustitre  span {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    padding: 0 2rem 0 13rem;
}
/******** /header *******/


/***** Avant de débuter ******/
.text h3{
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 0.5rem;
}
.text p{
    padding: 0.5rem 0 !important;
}
.sub-block .box2{
    margin: 1rem;
}
.box2 .text {
    padding-left: 1rem ;
    color: #414141;
}
.group  {
    padding-left: 1rem ;
}

.autre{
    border-top: 1px solid #414141;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.autre .radiobutton h3.label {
    position: relative;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #006a08;
    padding: 0.3rem 0;
}

.autre  .btns3{
    padding: 0rem;
}

/******** H Etape 2 ******/
/******* en-tête de niveau 2 style résumé *******/
.panel-heading-R {
    position: relative;
    display: block;
    background-color: #5d5d5d !important;
    color: #fff;
    /*font-size: 2.4rem;*/
    font-weight: normal;
    /*line-height: 2.2rem;
    padding: 0rem 1.5rem 1.7rem 1.5rem;*/
}
.panel-heading-R h2{
    /*background-color: inherit;
    color: inherit;
    font-size: 2.4rem;
    line-height: inherit;
    font-weight: inherit;
    padding: 0;*/
}
.panel-heading-R .control-group {
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
.checkboxs {
    position: relative;
    padding: 0.5rem 0.6rem !important;
}
.checkboxs .label {
    font-weight: bold;
}
.checkboxs label {
    margin-left: 0.5rem;
}
.checkboxs .radiobutton {
    margin-left: 1.4rem;
}




.text p,
.label
{
    position: relative;
}


.panel-heading-R .control-group label {
    display: inline-block;
    width: auto;
    font-size: 1.2rem;
    font-weight: normal;
}

.panel-heading-R .rft{
    position: absolute;
    left:-0.7rem;
}
.text p span.rft{
    position: absolute;
    left:-0.7rem;
    top: 0.6rem;
}
.label span.rft{
    top: 0.3rem;
}

.panel-heading-R .date-icon input {
    width: 7rem;
}

/******* /en-tête de niveau 2 style résumé *******/

.sous-question
{
    margin-left: 2rem;
}
.sous-question-precisez,
.sous-question-montant{
  position: relative;
    margin-left: 1.5rem !important;
    top: -0.3rem;
}


.form-cont .radiobuttons .sous-question-precisez,
.form-cont .radiobuttons .sous-question-montant{
    margin-left: 2.5rem !important;
}

.radiobutton .sous-question-montant{
    margin-left: 0.7rem;
}

/******* Boutons *********/
.btn4 {
    border: 2px solid #006c08;
    background: #006c08;
}

.btn4:hover,
.btn4:focus
 {
    border: 2px solid #003d04;
    background: #003d04;
}



.btn-add{
 background-color: inherit !important;
 border:0;
 color: #006c08;
 padding: 0 0 0 0;
 margin-top: 1rem
}

.btn-add span {
    vertical-align: middle;
    line-height: 1.2rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.btn-add:hover span {
    border-bottom: 1px solid #003d04;
}

.btn-add:hover,
.btn-add:focus{
 color: #003d04;
 border:0;
}


.btn-add .icon-add {
    background-image: url('images/ic_Ajouter.svg');
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-position: 0 center;
    background-repeat: no-repeat;
    display: inline-block;
}
.btn-add:hover .icon-add,
.btn-add:focus .icon-add
 {
    background-image: url('images/ic_Ajouter_hover.svg');
}


.btn4a {
    background-color: #f0f0f0;
}
.btn4a:hover,
.btn4a:focus
 {
    background-color: #dbdbdb;
    border-color: #003d04;
    color: #003d04;
    opacity: 1;
}
.icon-save,
.icon-save:hover,
.icon-save:focus{
    background-image: url("images/ic_sauvegarder.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
}
a:hover .icon-save,
a:focus .icon-save{
    background-image: url("images/ic_sauvegarder_hover.svg") !important;
}

.icon-delete {
  background-image: url("images/ic_supprimer.svg");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
a:hover .icon-delete ,
a:focus .icon-delete {
    background-image: url("images/ic_supprimer_hover.svg") !important;
}


.sub-block .header a.btn4a
{
    border: 2px solid #006c08;
    background: #f0f0f0;
    color: #006c08;
    background-image: url('images/ic_Supprimer.svg');
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    height: 2.2rem;
    margin-right: -0.4rem;
    z-index: 100;

}
/****** test sub-block ******/

.sub-block .sub-block {
    margin: 0 0 0 0;
    border-left: 0px solid #919191;
    border-right: 0px solid #919191;
    border-bottom: 1px solid #ddd;
}

.sub-block .sub-cont {
    padding: 1rem 1.5rem;
}

.sub-block .sub-block .header {
    position: relative;
    background: inherit;
    color: #fff;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
}

.sub-block .header a.btn4a {
    border: 0;
    background: inherit;
    color: #006c08;
    background-image: url("images/ic_Supprimer2.svg");
    background-position: 0.3rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    height: 2.2rem;
    width: auto;
    min-width: 2.2rem;
    padding: 0;
    line-height: 1.9rem;
    margin-top: -0.4rem;
    margin-right: -1rem;
    display: block;
}
.sub-block .header a.btn4a:hover,
.sub-block .header a.btn4a:focus
  {
    background-image: url("images/ic_Supprimer2_hover.svg");
}

.sub-block .sub-block .sub-cont {
    padding: 0 0 0.5rem 0;
}

/****** /test sub-block ******/
/**** masquer l'icône inline *****/
.sub-block .header a.btn4a i{display: none;}


.sub-block .header a.btn4a span{
    margin: 0 0.8rem 0 1.8rem;
    display: none;/**/
}
.sub-block .header a.btn4a:hover span{
    margin: 0 0.8rem 0 1.8rem;
    /*display: inline-block;;*/
}


/******* /Boutons *********/
/******* champs ***********/

label{
    position: relative;
}
span.rft {
    position: absolute;
    top: 0.5rem;
    left: -0.8rem;
    padding: 0;
    color: #be1615;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: top;
}
h4 span.rft {
    top: 1.7rem;
}

.row div.first-child{
  margin-right: 1rem;
}

.form-cont .control-group input[type="password"],
.form-cont .control-group input[type="text"],
.form-cont .control-group input[type="email"],
.form-cont .control-group input[type="number"],
.form-cont .control-group input[type="time"]

{
    width: 100%;
    max-width: 44rem;
    padding: 0.5rem !important;
    border: 1px solid #ddd;
    font-size: 0.9rem !important;
    line-height: 0.9rem !important;
    font-family: Arial, Helvetica, sans-serif;
}

.form-cont .control-group input.heure[type="text"],
.form-cont .control-group input.amount[type="text"],
.form-cont .control-group input[type="number"],
.form-cont .control-group input[type="time"],
.form-cont .control-group input.l2,
.form-cont .control-group .date-icon
{
    max-width: 10rem;

}



.form-cont .control-group input[type="number"],
.form-cont .control-group input[type="time"]
{
    margin-right: 1.5rem;

}

.form-cont .control-group input[readonly]{
  background-color: inherit;
  border: none;
}
.form-cont .control-group input[readonly]:focus{
  background-color: #414141;
}
.form-cont .control-group input[readonly].amount-readonly{
  width: 3.5rem !important;
  min-width: 1rem !important;
  padding: 0.2rem 0 0.2rem 0.77rem;
  text-align: left;
}
/******* /champs ***********/


.naDetails{
    font-weight: normal;
}
.format{
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}

/******* note lié (clarification)  ********/

.btns3 {
    text-align: center;
    padding: 0 0 1.5rem 0;
    color: #414141;
}

.control-group h4{
    display: block;
    font-size: 1.2rem;
    border-top: #414141 solid 1px;
    padding-top: 1rem;
}

.control-group p,
.btns3 > div
{
    margin: 1rem 1rem;
    position: relative;
    text-align: left;
}

.control-group p.clarification{
    background-color: #fff;
    border: 1px solid #006c08;
    padding: 0.5rem 1rem !important;
    margin: 0.5rem 1rem 0 0.5rem;
    position: relative;
}

.control-group p.clarification::after{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 2.2rem;
    margin-top: 1px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.control-group p.clarification::before {
    content: ' ';
    position: absolute;
    top: -10px;
    left: 2.2rem;
    border-top: 10px solid #006c08;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.control-group .note-ON-N  p.clarification::after,
.control-group .note-ON-N  p.clarification::before{
  left: 5.5rem;
}
.control-group .similaire  p.clarification::after,
.control-group .similaire  p.clarification::before{
  left: 38%;
}

/******* /note lié (clarification) ********/

.btn3 .radiobutton {
    text-align: left;
}


/*******  file ********/
.file {
    margin: 0 1rem;
    width: 95%;
}
.file .detail {
    padding: 0.8rem 1rem;
    border: 1px solid #414141;

}

/*******  / file ********/
/******* Footer *********/
footer.footer .row:first-child .right {
    padding-right: 8.7rem;
}
/******* / Footer *********/


av.top-menu ul li img {
    max-width: 1.5rem;
}
nav.top-menu ul li a img {
    width: 1.5rem !important;
}

.tm-meDeconnecter{
    display:none;
}



/******** largeur de champs *********/
#idform {
    max-width: 44rem;
}

.form-cont .btns {
    margin: 1vw 0;
    padding: 1rem 0rem;
    border-top: 1px solid #c3c3c3;
}

.btns .btn {
    margin: 1vw 0.5rem;
}
.btns {
    padding: 1vw 0;
    text-align: center;
}


/******** largeur de champs *********/
div.strong {
    padding: 2rem 1vw 4rem 1vw;
}

@media (min-width:576px) {
 .container {
  max-width:1280px;
 }
 .header-v1 .logo img {
    max-width: 8rem;}
    .no-menu h1,
    .soustitre span{
        font-size: 1.0rem;
        padding: 0 2rem 0 2rem;
    }
    .no-menu {
       line-height: 1.0rem;
    }
}


@media (min-width:768px) {
 .container {
  max-width:1280px;
 }
 .header-v1 .logo img {
  max-width: 9.89rem;
}
.no-menu {
   line-height: 1.2rem;
}
.no-menu h1,
.soustitre span {
    font-size: 1.2rem;
    padding: 0 2rem 0 13rem;
}
div.strong {
    padding: 2rem 1vw 4rem 1vw;
}
.header-v1 {
    padding-bottom: 1vw;
}
}




@media (min-width:992px) {
 .container {
  max-width:1280px;
 }
}
@media (min-width:1200px) {
 .container {
  max-width:1280px;
 }
}

@media (max-width:992px) {

 footer.footer img {
  position: absolute;
  top: -1.1rem;
  right: 0;
  display: block;
  max-width: 104px;
  width: 5rem;
  height: auto;
  }
  footer.footer .row:first-child .right {
  padding-right: 5.7rem
  }
  footer.footer .row {
      padding: 0.7rem 2rem;
      font-size: 0.8rem;
  }

}




@media (max-width:768px) {
  .container {
   /*background-color: yellow;*/
  }
  .header-v1 .logo img {
     max-width: 8rem;}
     .no-menu h1,
     .soustitre span{
         font-size: 1.0rem;
         padding: 0 2rem 0 2rem;
     }
     .no-menu {
        line-height: 1.0rem;
     }
     div.strong {
         padding: 2rem 2vw 4rem 2vw;
     }

     .nav-wizard {
         margin: 1vw auto 2vw auto;
     }

     footer.footer img {
      position: absolute;
      top: -1.1rem;
      right: -0.5rem;
      display: block;
      max-width: 104px;
      width: 5rem;
      height: auto;
      }
      footer.footer .row:first-child .right {
      padding-right: 5.3rem
      }
      footer.footer .row {
          padding: 0.7rem 1rem;
          font-size: 0.7rem;
      }
    footer.footer .gauche {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 0;
    flex-grow: 1;
    max-width: 20rem;
}

}



@media (max-width:576px) {

 .header-v1 .logo {
     position: relative;
     z-index: 2;
     display: inline-block;
     margin-left: 1.5rem;
     border-bottom: 2px solid #151611;
     margin-bottom: -1rem;
 }
 .header-v1 .logo img {
    max-width: 8rem;
}
.nav-wizard {
    margin: 1vw  auto 1vw auto;
}

.header-v1 {
    padding-bottom: 1vw;
}

}

@media (max-width:500px) {
  .container {
   max-width:1280px;
  padding-right: 0;
  padding-left: 0;
  }
  .container .container{

  padding-right: 2vw;
  padding-left: 2vw;
  }
  .header-v1 .logo img {
     max-width: 7rem;}
     .no-menu h1,
     .soustitre span{
         font-size: 0.9rem;
         padding: 0 2rem 0 2rem;
     }
     .no-menu {
        line-height: 1.0rem;
     }

    nav.top-menu ul li a p {
        display:none;
    }
}

@media (max-width:400px) {
  .container {
   max-width:1280px;
  padding-right: 0;
  padding-left: 0;
  }
  .container .container{

  padding-right: 2vw;
  padding-left: 2vw;
  }
  .header-v1 .logo img {
     max-width: 5rem;}

     .no-menu h1,
     .soustitre span{
         font-size: 0.8rem;
         padding: 0 0.1rem 0 1rem;
         line-height: 0.8rem;
     }
     .no-menu {
        line-height: 0.8rem;
     }

    nav.top-menu ul li a p {
        display:none;
    }

    .form-cont .content {
    padding: 1rem 0.5rem;
}

.step-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 90%;
}
.step-info p.number {

    padding: 0.1rem 0.6rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-right: 0.2rem;
}
.nav-wizard {
    margin: 1vw  auto 1vw auto;
}

.header-v1 {
    padding-bottom: 1vw;
}

}
