
    <ul class="nav nav-wizard">
      <li class="completed"><a href="#"><i>1</i><span>Titre ici</span></a></li>
      <li class="completed"><a href="#"><i>2</i><span>Titre ici</span></a></li>
      <li class="active"><a href="#"><i>3</i><span>Titre ici</span></a></li>
      <li><a href="#"><i>4</i><span>Titre ici</span></a></li>
      <li><a href="#"><i>5</i><span>Titre ici</span></a></li>
      <li><a href="#"><i>6</i><span>Titre ici</span></a></li>
    </ul>
