<ul class="nav nav-wizard">
  <li class="completed first-child-completed"><a role="button" href="1-collecte-d-information-1.html"><i>1</i><span class="hors-ecran">Collecte<br/>d'information</span></a></li>
  <li class="active"><a role="button" href="2-identification.html"><i>2</i><span>Identification</span></a></li>
  <li><a role="button" href="3-renseignements-evenement.html"><i>3</i><span class="hors-ecran">Renseignements ​sur<br/>l'événement</span></a></li>
  <li><a role="button" href="4-renseignements-arret-retour-travail.html"><i>4</i><span class="hors-ecran">Arrêt et retour<br/>au travail</span></a></li>
  <li><a role="button" href="5-renseignements-calcul-versement.html"><i>5</i><span class="hors-ecran">Indemnité de remplacement<br/>du revenu</span></a></li>
  <li><a role="button" href="6-transmettre.html"><i>6</i><span class="hors-ecran">Transmettre des<br/>documents</span></a></li>
  <li><a role="button" href="7-autorisation.html"><i>7</i><span class="hors-ecran">Autorisation</span></a></li>
  <li class="last-child"><a role="button" href="8-resume.html"><i>8</i><span class="hors-ecran">R&eacute;sum&eacute;</span></a></li>
</ul>
<div class="strong">
  <div class="mcl2">
    <div class="step-info">
      <h1 id="h1"><span class="number">2</span><span class="h1"> Identification </span></h1>
    </div>
    <div class="infobox5 sp-xl">
      <p>Les renseignements fournis par votre employeur ont été récupérés et sont présentés pour faciliter votre demande de réclamation. Veuillez les vérifier et les corriger, s’il y a lieu.</p>
    </div>
    <div class="form-cont sp-xl">
      <div class="content">
        <div class="text sp-s">
          <p class="obligatoire"><span class="hors-ecran">Un champ ou un groupe de champs précédé d’un astérisque sera annoncé comme étant </span>Obligatoire</p>
        </div>
        <div class="box2">
          <h2>Renseignements sur vous</h2>
          <div class="text">
            <div class="radiobutton required inline">
              <i class="obligatoire" tabindex="-1" id="naRG1">Sexe</i>
              <div class="radiobuttons" role="group" aria-labelledby="naRG1">
                <label for="inp1" class="radiobutton">
										 <input id="inp1" type="radio" name="mode" value="create">
										 <i>Féminin</i>
									</label>
                <label for="inp2" class="radiobutton">
										 <input id="inp2" type="radio" name="mode" value="create">
										 <i>Masculin</i>
									</label>
              </div>
            </div>
            <div class="control-group">
              <label for="inp3" class="obligatoire"> Nom <span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp3" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp4" class="obligatoire"> Prénom<span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp4" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp5" class="obligatoire"> Date de naissance<span class="hors-ecran"> Obligatoire </span></label>
              <div class="date-icon">
                <input id="inp5" type="text" class="datepicker form-control" value="" aria-describedby="daFdate">
              </div>
              <p class="clarification">aaaa-mm-jj</p>
            </div>
          </div>
        </div>
        <div class="box2">
          <h2>Vos coordonnées</h2>
          <div class="text">
            <div class="control-group">
              <label for="inp6" class="obligatoire"> Adresse  <span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp6" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp7" class="obligatoire"> Ville  <span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp7" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp8" class="obligatoire"> Province  <span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp8" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp9" class="obligatoire"> Pays  <span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp9" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp10" class="obligatoire"> Code postal  <span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp10" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp11"> T&eacute;l&eacute;phone (résidence)</label>
              <input id="inp11" type="tel" name="tel" aria-describedby="daFtel">
              <p class="clarification">(xxx) xxx-xxxx</p>
            </div>
            <div class="control-group">
              <label for="inp12"> T&eacute;l&eacute;phone (autre)</label>
              <input id="inp12" type="tel" name="tel" aria-describedby="daFtel">
              <p class="clarification">(xxx) xxx-xxxx</p>
            </div>
          </div>
        </div>
        <div class="box2">
          <h2>Renseignements sur votre employeur </h2>
          <div class="text">
            <div class="control-group">
              <label for="inp13" class="obligatoire"> Nom de l'employeur<span class="hors-ecran"> Obligatoire </span></label>
              <input id="inp13" type="text" name="montant">
            </div>
            <div class="control-group">
              <label for="inp14" class="obligatoire"> Adresse de l'établissement  <span class="hors-ecran"> Obligatoire </span></label>
              <p class="clarification" tabindex="-1" id="dainp14">(Votre lieu de travail habituel.)</p>
              <input id="inp14" type="text" name="montant" aria-describedby="dainp14">
            </div>
          </div>
        </div>
      </div>
      <div class="btns">
        <a role="button" class="btn btn7" href="1-collecte-d-information-2.html">Pr&eacute;c&eacute;dent</a>
        <a role="button" class="btn btn3" href="3-renseignements-evenement.html">Suivant</a>
      </div>
    </div>
    <div class="btns">
      <a role="button" class="btn btn4a" href="#"><i class="icon-save"></i> Enregistrer en brouillon</a>
      <a role="button" class="btn btn4a" href="#"><i class="icon-delete"></i> Supprimer le brouillon</a>
    </div>
  </div>
</div>
<!-- Format de saisi générique -->
<div class="hide">
  <div tabindex="-1" id="daFdate">a a a a - m m - j j</div>
  <div tabindex="-1" id="daFtel">10 chiffres</div>
</div>
<!-- /Format de saisi générique -->
