

		<ul class="nav nav-wizard">
			<li class="completed first-child-completed"><a href="#"><i>1</i></a></li>
			<li class="active"><a href="#"><i>2</i><span>Identification</span></a></li>
			<li><a href="#"><i>3</i></a></li>
			<li><a href="#"><i>4</i></a></li>
			<li><a href="#"><i>5</i></a></li>
			<li><a href="#"><i>6</i></a></li>
			<li><a href="#"><i>7</i></a></li>
			<li class="last-child"><a href="#"><i>8</i></a></li>
		</ul>

		<div class="strong">
			<div class="mcl2">

				<div class="step-info">

					<h1><span class="number">2</span><span class="h1">Identification<span></h1>
				</div>

				<div class="infobox5 sp-xl">
					<p>Les renseignements fournis par votre employeur ont été récupérés et sont présentés pour faciliter votre demande de réclamation. Veuillez les vérifier et les corriger, s’il y a lieu.</p>
				</div>

				<div class="form-cont sp-xl">

					<div class="content">
						<div class="text sp-s">
							<p><span class="rft">*</span> Obligatoire</p>
						</div>

						<div class="box2">
							<h3>Renseignements sur vous</h3>

							<div class="text">

								<label class="radiobutton required inline">
								   <i>Sexe</i>

								   <div class="radiobuttons">

										<label class="radiobutton">
										   <input type="radio" name="mode" value="create">
										   <i>Féminin</i>
										</label>

										<label class="radiobutton">
										   <input type="radio" name="mode" value="create">
										   <i>Masculin</i>
										</label>

								   </div>
								</label>

								<div class="control-group">
									<label><span class="rft">*</span> Nom </label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Prénom</label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Date de naissance</label>
									<div class="date-icon">
										<input type="text" class="datepicker form-control" value="">
									</div>
									<p class="clarification">aaaa-mm-jj</p>
								</div>


							</div>
						</div>

						<div class="box2">
							<h3>Vos coordonnées</h3>

							<div class="text">

								<div class="control-group">
									<label><span class="rft">*</span> Adresse  </label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Ville  </label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Province  </label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Pays  </label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Code postal  </label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label>T&eacute;l&eacute;phone (résidence)</label>
									<input type="tel" name="tel">
									<p class="clarification">(xxx) xxx-xxxx</p>
								</div>

								<div class="control-group">
									<label>T&eacute;l&eacute;phone (autre)</label>
									<input type="tel" name="tel">
									<p class="clarification">(xxx) xxx-xxxx</p>
								</div>

							</div>
						</div>



						<div class="box2">
							<h3>Renseignements sur votre employeur </h3>

							<div class="text">

								<div class="control-group">
									<label><span class="rft">*</span> Nom de l'employeur</label>
									<input type="text" name="montant">
								</div>

								<div class="control-group">
									<label><span class="rft">*</span> Adresse de l'établissement  </label>
									<p class="clarification">(Votre lieu de travail habituel.)</p>
									<input type="text" name="montant">
								</div>


							</div>
						</div>



					</div>
					<div class="btns">
						<a role="button" class="btn btn7" href="1-collecte-d-information-2.html">Pr&eacute;c&eacute;dent</a>
						<a role="button" class="btn btn3" href="3-renseignements-evenement.html">Suivant</a>
					</div>
				</div>

				<div class="btns">
					<a role="button" class="btn btn4a" href="#"><i class="icon-save"></i> Enregistrer en brouillon</a>
					<a role="button" class="btn btn4a" href="#"><i class="icon-delete"></i> Supprimer le brouillon</a>
				</div>

			</div>
		</div>
