<ul class="nav nav-wizard">
		<li class="completed first-child-completed"><a role="button" href="1-collecte-d-information-1.html"><i>1</i><span class="hors-ecran">Collecte d'information</span></a></li>
		<li class="completed"><a role="button" href="2-identification.html"><i>2</i><span class="hors-ecran">Identification</span></a></li>
		<li class="completed"><a role="button" href="3-renseignements-evenement.html"><i>3</i><span class="hors-ecran">Renseignements ​sur l'événement</span></a></li>
		<li class="completed"><a role="button" href="4-renseignements-arret-retour-travail.html"><i>4</i><span class="hors-ecran">Arrêt et retour au travail</span></a></li>
		<li class="completed"><a role="button" href="5-renseignements-calcul-versement.html"><i>5</i><span class="hors-ecran">Indemnité de remplacement du revenu</span></a></li>
		<li class="active"><a role="button" href="6-transmettre.html"><i>6</i><span>Dépôt direct</span></a></li>
		<li><a role="button" href="7-autorisation.html"><i>7</i><span class="hors-ecran">Autorisation</span></a></li>
		<li class="last-child"><a role="button" href="8-resume.html"><i>8</i><span class="hors-ecran">R&eacute;sum&eacute;</span></a></li>
	</ul>


	<div class="strong">
		<div class="mcl2">

			<div class="step-info">

				<h1 id="h1"><span class="number">6</span><span class="h1">Dépôt direct </span></h1>
			</div>

			<div class="infobox5 sp-xl">
				<p>Le dépôt direct vous permet de recevoir plus rapidement les sommes versées par la CNESST (indemnités et remboursement de frais).</p>
			</div>

			<div class="form-cont sp-xl">

				<div class="content">

					<div class="box2">
						<h2 id="naRG1">Demande d'inscription</h2>
						<div class="text">

							<div class="radiobutton">
								 <div class="radiobuttons" role="group" aria-labelledby="naRG1">

									<label for="inp1" class="radiobutton">
										 <input id="inp1" data-show=".os-1-1" data-hide=".os-1" type="radio" name="mode">
										 <i>Inscription au dépôt direct</i>
									</label>

									<label for="inp2" class="radiobutton">
										 <input id="inp2" data-hide=".os-1" type="radio" name="mode">
										 <i>Déjà inscrit au dépôt direct de la CNESST</i>
									</label>

								 </div>

							</div>



						</div>
					</div>

					<div class="box2 os-1 os-1-1 hide">
						<h3>Inscription au dépôt direct</h3>
						<div class="text">

							<div class="radiobutton required">
								<i class="obligatoire" tabindex="-1" id="naRG1">Comment voulez-vous nous transmettre vos coordonnées bancaires?</i>
								 <div class="radiobuttons" role="group" aria-labelledby="naRG1">

									<label for="inp3" class="radiobutton">
										 <input id="inp3" data-show=".os-2-1" data-hide=".os-2" type="radio" name="mod2">
										 <i>En joignant un spécimen de chèque (Document PDF, image, photo ou autre.)</i>
									</label>

									<label for="inp4" class="radiobutton">
										 <input id="inp4" data-show=".os-2-2" data-hide=".os-2" type="radio" name="mod2">
										 <i>En saisissant vos coordonnées bancaires</i>
									</label>

								 </div>

							</div>


							<div class="os-2 os-2-1 hide">

								<div class="control-group">
									<label for="inp5" class="obligatoire"> Joindre un spécimen de chèque
 <span class="hors-ecran"> Obligatoire </span>
</label>
/* todo modifier pour composant permettant de supprimer le docuement */
									<input id="inp5" type="file" name="montant">
								</div>

							</div>


							<div class="os-2 os-2-2 hide">

								<div class="control-group">
									<h4 id="naH41"> Coordonnées bancaires</h4>
									<p class="clarification">(Les numéros demandés apparaissent au bas d'un chèque.) </p>
								</div>

								<div class="control-group">
									<label for="inp" class="obligatoire"> Numéro de transit de la succursale
 <span class="hors-ecran"> Obligatoire </span>
</label>
									<input id="inp6" type="text" name="montant" class="amount" data-characters="5">
									<p class="clarification">5 chiffres</p>
								</div>

								<div class="control-group">
									<label for="inp" class="obligatoire"> Numéro de l'institution financière
 <span class="hors-ecran"> Obligatoire </span>
</label>
									<input id="inp7" type="text" name="montant" class="amount" data-characters="3">
									<p class="clarification">3 chiffres</p>
								</div>

								<div class="control-group">
									<label for="inp" class="obligatoire"> Numéro de compte</label>
									<input id="inp8" type="text" name="montant" class="amount" data-characters="12">
									<p class="clarification">12 chiffres au maximum</p>
									<img alt="" src="../../images/pages/image-cnesst-void-cheque.png">
								</div>

							</div>


							<div class="control-group">
								<label for="inp" class="obligatoire"> Nom du titulaire du compte bancaire
 <span class="hors-ecran"> Obligatoire </span>
</label>
								<input id="inp9" type="text" name="montant">
							</div>


						</div>
					</div>


					<div class="box2 os-1 os-1-1 hide">
						<h3>Autorisation</h3>
						<div class="text">

							<ul class="bullets1">
								<li>Je confirme avoir vérifié les coordonnées bancaires du compte pour le dépôt direct. </li>
								<li>J'autorise le dépôt des montants d'indemnités ou de remboursements de frais par la CNESST dans ce compte.</li>
							</ul>



							<label for="inp10" class="radiobutton">
								 <input id="inp10" type="checkbox" name="mode" value="create">
								 <i>En cochant cette case, <strong>je donne mon consentement.</strong></i>
							</label>

						</div>
					</div>


				</div>
				<div class="btns">
					<a role="button" class="btn btn7" href="6-transmettre.html">Pr&eacute;c&eacute;dent</a>
					<a role="button" class="btn btn3" href="7-autorisation.html">Suivant</a>
				</div>
			</div>

			<div class="btns">
				<a role="button" class="btn btn4a" href="#"><i class="icon-save"></i> Enregistrer en brouillon</a>
				<a role="button" class="btn btn4a" href="#"><i class="icon-delete"></i> Supprimer le brouillon</a>
			</div>

		</div>
	</div>
