<ul class="nav nav-wizard">
  <li class="completed first-child-completed"><a role="button" href="1-collecte-d-information-1.html"><i>1</i><span class="hors-ecran">Collecte <br/>d'information</span></a></li>
  <li class="completed"><a role="button" href="2-identification.html"><i>2</i><span class="hors-ecran">Identification</span></a></li>
  <li class="completed"><a role="button" href="3-renseignements-evenement.html"><i>3</i><span class="hors-ecran">Renseignements ​<br/>sur l'événement</span></a></li>
  <li class="completed"><a role="button" href="4-renseignements-arret-retour-travail.html"><i>4</i><span class="hors-ecran">Arrêt et retour <br/>au travail</span></a></li>
  <li class="completed"><a role="button" href="5-renseignements-calcul-versement.html"><i>5</i><span class="hors-ecran">Indemnité de remplacement <br/>du revenu</span></a></li>
  <li class="active"><a role="button" href="6-depot-direct.html"><i>6</i><span>Transmettre <br/>des documents</span></a></li>
  <li><a role="button" href="7-autorisation.html"><i>7</i><span class="hors-ecran">Autorisation</span></a></li>
  <li class="last-child"><a role="button" href="8-resume.html"><i>8</i><span class="hors-ecran">R&eacute;sum&eacute;</span></a></li>
</ul>

<div class="strong">
  <div class="mcl2">

    <div class="step-info">

      <h1 id="h1"><span class="number">6</span><span class="h1">Transmettre des documents</span></h1>
    </div>

    <div class="form-cont sp-xl">

      <div class="content">
        <div class="text sp-s">
          <p class="obligatoire"><span class="hors-ecran">Un champ ou un groupe de champs précédé d’un astérisque sera annoncé comme étant </span>Obligatoire</p>
        </div>

        <div class="box2">

          <div class="text">

            <div class="radiobutton required inline">
              <i class="obligatoire" id="naRG1">Avez-vous des documents à nous transmettre?</i>
              <p class="clarification">(Prescriptions, compléments d'information)</p>
              <div class="radiobuttons" role="group" aria-labelledby="naRG1">

                <label for="inp1" class="radiobutton">
										 <input id="inp1" data-show=".os-1-1" data-hide=".os-1" type="radio" name="mode">
										 <i>Oui</i>
									</label>

                <label for="inp2" class="radiobutton">
										 <input id="inp2" data-hide=".os-1" type="radio" name="mode">
										 <i>Non</i>
									</label>

              </div>

            </div>
            <!-- ajout -->
            <div class="os-1-1 os-1">
              <div class="multiblocks">
                <div class="sub-block">
                  <div class="header">
                    <h2 id="esMB1">Document numéro <span class="number">1</span></h2>
                    <a id="btnXesMB1" role="button" class="btn4a btn-delete" href="#" aria-labelledby="btnXesMB1 esMB1" aria-label="Supprimer la section"><i class="icon-delete2"></i><span>Supprimer</span></a>
                  </div>
                  <div class="sub-cont">

                    <div class="radiobutton required">
                      <i id="naRG2" class="obligatoire">Type de document<span class="hors-ecran"> Obligatoire </span></i>
                      <p class="clarification"></p>
                      <div role="group" class="radiobuttons" aria-labelledby="naRG1">

                        <label for="inp4" class="radiobutton">
																				   <input id="inp4" type="radio" name="mode">
																				   <i>Prescriptions</i>
																				</label>

                        <label for="inp5" class="radiobutton">
																				   <input id="inp5" type="radio" name="mode">
																				   <i>Compléments d'informations</i>
																				</label>

                      </div>

                    </div>

                    <div class="control-group">
                      <label>Description du document</label>
                      <textarea></textarea>
                    </div>

                    <div class="control-group">
                      <div class="file">
                        <label for="inp6" class="file-btn"><i class="icon-attach"></i><span>Parcourir</span></label>
                        <input id="inp6" type="file" name="file">
                        <a id="btnXinp6" role="button" href="#" class="btn-remove" aria-labelledby="btnXinp6 inp6Detail" aria-label="Supprimer le docuement"><i class="icon-remove"></i></a>
                        <div class="detail" id="inp6Detail"><i class="icon-file"></i><span></span></div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="btns3">
                <a role="button" href="#" class="btn4 btn-add"><i class="icon-add"></i><span>Ajouter un document</span></a>
              </div>
            </div>
            <!-- / ajout -->
          </div>
        </div>


      </div>
      <div class="btns">
        <a role="button" class="btn btn7" href="5-renseignements-calcul-versement.html">Pr&eacute;c&eacute;dent</a>
        <a role="button" class="btn btn3" href="7-autorisation.html">Suivant</a>
      </div>
    </div>

    <div class="btns">
      <a role="button" class="btn btn4a" href="#"><i class="icon-save"></i> Enregistrer en brouillon</a>
      <a role="button" class="btn btn4a" href="#"><i class="icon-delete"></i> Supprimer le brouillon</a>
    </div>

  </div>
</div>
