

		<ul class="nav nav-wizard">
			<li class="completed first-child-completed"><a href="#"><i>1</i></a></li>
			<li class="completed"><a href="#"><i>2</i></a></li>
			<li class="completed"><a href="#"><i>3</i></a></li>
			<li class="completed"><a href="#"><i>4</i></a></li>
			<li class="completed"><a href="#"><i>5</i></a></li>
			<li class="completed"><a href="#"><i>6</i></a></li>
			<li class="active"><a href="#"><i>7</i><span>Autorisation</span></a></li>
			<li class="last-child"><a href="#"><i>8</i></a></li>
		</ul>

		<div class="strong">
			<div class="mcl2">

				<div class="step-info">

					<h1><span class="number">7</span><span class="h1">Autorisation à communiquer des renseignements<span></h1>
				</div>

				<div class="form-cont sp-xl">

					<div class="content">

						<div class="box2">
							<h3>Autorisation</h3>
							<div class="text">

								<label>J'autorise :</label>

								<ul class="bullets1">
									<li>tout médecin, professionnel ou intervenant de la santé</li>
									<li>tout établissement de la santé et des services sociaux</li>
									<li>toute clinique</li>
									<li>à communiquer les renseignements relatifs à mon état de santé concernant le traitement de ma réclamation à la Commission des normes, de l'équité, de la santé et de la sécurité du travail (CNESST).</li>
								</ul>

								<label class="radiobutton">
								   <input type="checkbox" name="mode" value="create">
								   <i><strong>En cochant cette case,  je donne mon autorisation.</strong></i>
								</label>

							</div>
						</div>


					</div>
					<div class="btns">
						<a role="button" class="btn btn7" href="6-depot-direct.html">Pr&eacute;c&eacute;dent</a>
						<a role="button" class="btn btn3" href="8-resume.html">Suivant</a>
					</div>
				</div>

				<div class="btns">
					<a role="button" class="btn btn4a" href="#"><i class="icon-save"></i> Enregistrer en brouillon</a>
					<a role="button" class="btn btn4a" href="#"><i class="icon-delete"></i> Supprimer le brouillon</a>
				</div>

			</div>
		</div>

	
