<ul class="nav nav-wizard">
		<li class="completed first-child-completed"><a role="button" href="1-collecte-d-information-1.html"><i>1</i><span class="hors-ecran">Collecte <br/>d'information</span></a></li>
		<li class="completed"><a role="button" href="2-identification.html"><i>2</i><span class="hors-ecran">Identification</span></a></li>
		<li class="completed"><a role="button" href="3-renseignements-evenement.html"><i>3</i><span class="hors-ecran">Renseignements ​<br/>sur l'événement</span></a></li>
		<li class="completed"><a role="button" href="4-renseignements-arret-retour-travail.html"><i>4</i><span class="hors-ecran">Arrêt et retour <br/>au travail</span></a></li>
		<li class="completed"><a role="button" href="5-renseignements-calcul-versement.html"><i>5</i><span class="hors-ecran">Indemnité de remplacement <br/>du revenu</span></a></li>
		<li class="completed"><a role="button" href="6-transmettre.html"><i>6</i><span class="hors-ecran">Transmettre <br/>des documents</span></a></li>
		<li class="active"><a role="button" href="7-autorisation.html"><i>7</i><span>Autorisation</span></a></li>
		<li class="last-child"><a role="button" href="8-resume.html"><i>8</i><span class="hors-ecran">R&eacute;sum&eacute;</span></a></li>
	</ul>

		<div class="mcl2 strong">

			<div class="step-info">

				<h1 id="h1"><span class="number">7</span><span class="h1">Autorisation à communiquer des renseignements</span></h1>
			</div>

			<div class="form-cont sp-xl">

				<div class="content">

					<div class="box2">
						<h2>Autorisation</h2>
						<div class="text">

							<!-- Ajout tabindex="-1" pour s'assurer que cette zone sera étalement annoncé par NVDA dans Internet Explorer -->
							<div id="na2" tabindex="-1" class="text">
								<p>
									J’autorise :
								</p>
								 <!-- Ajout role="presentation" pour s'assurer le nom accessible de la case à cocher n'annonce pas les "puce" au focus sur la case à cocher -->
								<ul role="presentation" class="bullets1">
									<li>tout médecin, professionnel ou intervenant de la santé</li>
									<li>tout établissement de la santé et des services sociaux</li>
									<li>toute clinique</li>
									<li>à communiquer les renseignements relatifs à mon état de santé concernant le traitement de ma réclamation à la Commission des normes, de l'équité, de la santé et de la sécurité du travail (CNESST).</li>
								</ul>
							</div>
							<p class="radiobutton">
								<input type="checkbox" value="2" id="g1c2" aria-labelledby="na1 na2 na3">
								<!-- Ajout tabindex="-1" pour s'assurer que cette zone sera étalement annoncé par NVDA dans Internet Explorer -->
								<label for="g1c2" class="obligatoire"><span id="na1" tabindex="-1">En cochant cette case,</span> <span id="na3"> je donne mon autorisation
									<span class="hors-ecran"> Obligatoire</span></span>
							</label>
							</p>


					</div>
				</div>
				<div class="btns">
					<a role="button" class="btn btn7" href="6-depot-direct.html">Pr&eacute;c&eacute;dent</a>
					<a role="button" class="btn btn3" href="8-resume.html">Suivant</a>
				</div>
			</div>

			<div class="btns">
				<a role="button" class="btn btn4a" href="#"><i class="icon-save"></i> Enregistrer en brouillon</a>
				<a role="button" class="btn btn4a" href="#"><i class="icon-delete"></i> Supprimer le brouillon</a>
			</div>

		</div>
	</div>
