

		<ul class="nav nav-wizard">
			<li class="completed first-child-completed"><a href="#"><i>1</i></a></li>
			<li class="completed"><a href="#"><i>2</i></a></li>
			<li class="completed"><a href="#"><i>3</i></a></li>
			<li class="completed"><a href="#"><i>4</i></a></li>
			<li class="completed"><a href="#"><i>5</i></a></li>
			<li class="completed"><a href="#"><i>6</i></a></li>
			<li class="completed"><a href="#"><i>7</i></a></li>
			<li class="active last-child"><a href="#"><i>8</i><span>R&eacute;sum&eacute;</span></a></li>
		</ul>


		<div class="strong">
			<div class="mcl2">
			<div class="step-info">

				<h1><span class="number">8</span><span class="h1">R&eacute;sum&eacute;<span></h1>
				<hr>
				<div class="text">
					<p>V&eacute;rifiez les renseignements qui seront transmise &agrave; la CNESST.</p>
				</div>
			</div>

				<div class="form-cont">
					<div class="header">
						<a href="#" class="edit">Modifier</a>
						<h2>Identification</h2>
					</div>
					<div class="content">
						<div class="box2">
							<h3>Renseignements sur vous</h3>
							<div class="text">
								<p><strong>Pr&eacute;nom,nom :</strong> Monsieur Fabien Bertrand</p>
								<br>
								<p><strong>Date de naissance :</strong> 1975-06-02</p>
								<br>
								<p><strong>Adresse :</strong> 345 rue de la Falaise, Qu&eacute;bec, QC G1K 7E2</p>
							</div>
						</div>
						<br>
						<div class="box2">
							<h3>Lorem ipsum dolor sit amet</h3>
							<div class="text">
								<p><strong>Lorem ipsum:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor.</p>
								<br>
								<p><strong>Lorem ipsum:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor.</p>
								<br>
								<p><strong>Lorem ipsum:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor.</p>
							</div>
						</div>

						<hr>
					</div>
				</div>
				<div class="btns2">
					<p class="clarification">En cliquant sur <strong>transmettre</strong>, vous certifiez que les renseignements sont exacts.</p>
					<a role="button" class="btn btn7" href="7-autorisation.html">Pr&eacute;c&eacute;dent</a>
					<a role="button" class="btn btn4" href="9-accuse-de-reception.html">Transmettre</a>
				</div>
			</div>
		</div>
	
