

  <header class="mcl">
    <h1 class="main-title">Avant de débuter</h1>
  </header>
  <div class="strong">
    <div class="mcl">
      <div class="row-b">
        <div class="cl">
          <div class="box">
            <div class="title-w-icon">
              <i class="icon icon-timer"></i>
              <h2>Votre demande compte <strong>9 étapes</strong> et dure <strong>15 minutes.</strong></h2>
            </div>
            <div class="w-padd2">
              <div class="text">
                <p>Vous devez remplir le formulaire Réclamation du travailleur, si vous vous absentez pour plus de 14 jours ou si vous avez des frais à vous faire rembourser.</p>

              </div>
              <h3 class="style1">Besoin d'aide</h3>
          <div class="text">
                <p>Vous pouvez obtenir de l'aide à tout moment en cliquant sur l'icône. <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat ni."><i class="icon-help"></i></a></p>

              </div>
            </div>
          </div>
        </div>
        <div class="cl">
          <div class="w-padd">

            <div class="list1">
              <h2 class="hors-ecran">Ce dont vous aurez besoin</h2>
            <div class="text">
                <p>Vous aurez besoin des informations suivantes pour compléter votre formulaire :</p>
              </div>
              <h3>Renseignements sur vous</h3>
              <ul>
                <li>Numéro d'assurance maladie (NAM)</li>
                <li>Numéro d'assurance sociale (NAS)</li>
                <li>Coordonnées bancaires pour l'inscription au dépôt direct</li>
              </ul>
            </div>


            <div class="list2">
              <h3>Renseignements sur votre employeur</h3>
              <ul>
                <li>Coordonnées de votre employeur</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="btns">
        <a role="button" class="btn btn3" href="1-collecte-d-information-1.html">Suivant</a>
      </div>


    </div>
  </div>
