<!-- Étape 7 -->
			<div class="form-cont" id="se7">
				<div class="header">
					<h2 id="e7">Autorisation</h2>
					<a id="btnMe7" role="button" href="#" class="edit" aria-label="Modifier l'étape" aria-labelledby="btnMe1 e7">Modifier</a>
				</div>
				<div class="content">
					<div class="box2">
						<h3 class="h2">À venir...</h3>
					</div>
				</div>
			</div>
<a id="ancreSe7" href="#se7" class="ancreHS" aria-label="Haut de section" aria-labelledby="ancreSe7 e7">Haut</a>
<!-- / Étape 7 -->
