
		<div class="mcl">
			<h1 class="main-title" id="h1">Avant de débuter</h1>
		</div>
		<div class="strong">
			<div class="mcl">
				<div class="row-b">
					<div class="cl">
						<div class="box">
							<div class="title-w-icon">
								<i class="icon icon-timer"></i>
								<h3>Votre demande compte <strong>3 étapes</strong> et dure <strong>15 minutes.</strong></h3>
							</div>
							<div class="w-padd2">
								<div class="text">
									<p>Ce service vous permet de réclamer des frais de médicaments, de vêtements et tout autres frais sauf, ceux de déplacement, d'hébergement et de repas.</p>
									<p>Préalablement, vous devez aviser la CNESST de votre accident du travail ou de votre maladie professionnelle en remplissant le formulaire Réclamation du travailleur.</p>
								</div>
								<h4 class="style1">Besoin d'aide</h4>
								<div class="text">
									<p>Vous pouvez obtenir de l'aide à tout moment en cliquant sur l'icône. <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat ni."><i class="icon-help"></i></a></p>

								</div>
							</div>
						</div>
					</div>
					<div class="cl">
						<div class="w-padd">

							<div class="list2">
							<div class="text">
									<p>Vous aurez besoin des informations suivantes pour compléter votre formulaire :</p>
								</div>
								<h3>Renseignements sur vous</h3>
								<ul>
									<li>Numéro d'assurance maladie (NAM)</li>
									<li>Numéro d'assurance sociale (NAS)</li>
									<li>Coordonnées bancaires pour l'inscription au dépôt direct</li>
								</ul>
							</div>

							<div class="list2">
								<h3>Renseignements sur l'événement</h3>
								<ul>
									<li>Date de l'événement</li>
									<li>Numéro du dossier CNESST</li>
								</ul>
							</div>

							<div class="list2">
								<h3>Renseignements sur votre employeur</h3>
								<ul>
									<li>Coordonnées de votre employeur</li>
								</ul>
							</div>

							<div class="list2">
								<h3>Reçus</h3>
								<ul>
									<li>Vous devez joindre une copie numérisé de vos reçus au fur et à mesure que vous complétez le formulaire.</li>
									<li>Si vous n'avez pas le reçu d'un frais, vous ne pouvez pas demander le remboursement de ce frais.</li>
								</ul>
							</div>

							<div class="list2">
								<h3>Ordonnance médicale, si tel est le cas</h3>
								<ul>
									<li>Si vous avez une ordonnance médicale qui justifie le frais, vous devez la joindre une seule fois.</li>
								</ul>
							</div>

						</div>
					</div>
				</div>

				<div class="btns">
					<a role="button" class="btn btn3" href="H0-avant-de-debuter.html">Suivant</a>
					<a role="button" class="btn btn3" href="M0-avant-de-debuter.html">Suivant</a>
				</div>


			</div>
		</div>
